
.recomm{
    width: 100%;
    .banner{
        width: 100%;
        height: 1.46rem;
        img{
            width: 100%;
        }  
    }
    .module-ad{
        width: 100%;
        .ad-nav{
            width: 100%;
            ul{
                width: 100%;                            
                @include flexbox();
                li{
                    @include flex();
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .adcenter{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .timelimitedbuy{
            width: 100%;
            @include flexbox();
            .timelimitedbuy-left{
                @include border(0 1px 0 0,#ebebeb);
                img{
                    width: 1.5rem;
                }
            }
            .timelimitedbuy-right{
                @include flex();
                @include flexbox();
                @include flex-direction(column);
                img{
                    &:first-child{
                        width: 100%;
                        
                    }
                }
                .timelimitedbuy-right-bottom{
                    @include flex();
                    width: 100%;
                    @include flexbox();
                    @include border(1px 0 0 0,#ebebeb);
                    img{
                        @include flex();
                        height: 1.16rem;
                    }
                }
            }
        }
    }
    .sort{
        width: 100%;
        padding: .04rem .07rem .06rem;
        
        ul{
            width: 100%;
            @include flexbox();
            @include flex-wrap(wrap);
            li{
                width: 22%;
                height: .3rem;
                line-height: .3rem;
                text-align: center;
                margin: .1rem .05rem 0;
                background: #fff;
                white-space: nowrap;
                @include border-radius(50px);
            }
        }
    }
}